body{
            background-color:rgb(160, 189, 196) ;
        }

        .text{
            font-family: Arial, sans-serif;
            font-size: 20px;
            text-align:justify;
            color:black;
        }

        .encabezado{
            font-family: "Times New Roman", serif;
            font-size:30px;
            text-align: auto;
            color:rgb(64, 100, 137);
            text-decoration:underline;
        }
        
        .title{ 
            font-family: "Times New Roman", serif;
            font-size:30px;
            text-align: center;
            color:rgb(64, 100, 137)
        }
       .imagen {
            width: 800px;
            height: 450px;
            display: block;
            margin: 40px auto;
        }
        .link{
            font-family:cursive;
            font-size:20px;
            color:blue;
            
        }
        
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .asise{
            font-family: "Times New Roman", serif;
            font-size:30px;
            text-align: center;
            color:rgb(64, 100, 137)

        } 

